# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.branches/
supabase/.temp/

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/app/build/
ios/Pods/
